.btn {
    &:focus {
        color: black;
    }

    background-image: none;

    strong {
        color: white;
    }

    &-primary {
        @include button-variant(
            $white,
            $primary-border,
            black,
            $primary-hover-bg,
            $primary-hover-border,
            black,
            $primary-active-bg,
            $primary-active-border,
            $white,
            $primary-disabled-bg,
            $primary-disabled-border,
            $white
        );
    }
}
