.dropdown {
    .dropdown-menu {
        width: 100%;
        max-height: $dropdown-menu-max-height;
        overflow-y: auto;
    }

    .dropdown-spinner {
        margin-left: 75px;
    }
}

.set-pages-dropdown {
    .dropdown-toggle {
        border-radius: 8px;
        color: $primary;
        min-width: $dropdown-select-page-min-width;
    }

    .dropdown-menu.show {
        overflow-y: hidden;
        min-width: $dropdown-select-page-min-width;
        z-index: 1001;
    }
}

.custom-dropdown {
    border: 1px solid $border-color;
    @include transition($form-select-transition);
    
    .content {
        background-color: $white;
        display: flex;
    }

    &.show {
        border-color: $primary;
    }

    &-toggle {
        border: 0;
        width: 100%;
        
        .value::after {
            content: escape-svg($form-select-indicator);
            display: inline-block;
            width: $input-padding-x;
        }
        
        &:after {
            display: none;
        }
    }

    .dropdown-menu.show {
        z-index: 1001;
    }
}
