.dropdown {
    .dropdown-menu {
        max-height: $dropdown-menu-max-height;
        overflow-y: scroll;
    }

    .dropdown-spinner {
        margin-left: 75px;
    }
}

.set-pages-dropdown {
    .dropdown-toggle {
        border-radius: 8px;
        color: $primary;
        min-width: $dropdown-select-page-min-width;
    }

    .dropdown-menu.show {
        overflow-y: hidden;
        min-width: $dropdown-select-page-min-width;
    }
}
