.page-item {
    &:disabled {
        background-color: transparent;
    }

    &.active .page-link {
        color: $primary-active;
    }

    .page-link {
        border: 0;
        background-color: transparent;
    }
}

.select-page {
    width: 70px;
    border-radius: 8px;
}
