.record-table {
    display: block;
    max-height: 500px;
    overflow-y: scroll;

    thead {
        position: sticky;
        top: 0;
        box-shadow: 0 4px 2px -2px whitesmoke;
        z-index: 1000;

        th {
            text-align: left;
            border-bottom: 2px solid whitesmoke;
            border-right: 2px solid whitesmoke;
            padding: 2px 4px;
        }
    }

    & > tbody {
        display: block;

        tr:nth-child(4n + 1) {
            background-color: whitesmoke;
        }

        td {
            text-align: left;
        }
    }
}

.table-border {
    border: 0.2rem solid #ececec;
    border-radius: 8px;
}
