// Bootstrap

$body-bg: #f6fbff;

$btn-close-focus-shadow: none;
$btn-focus-width: 0;

$dropdown-min-width: 200px;

$input-bg: white;
$input-box-shadow: none;
$input-focus-box-shadow: none;

$navbar-toggler-padding-x: 0;
$navbar-toggler-padding-y: 0;

$offcanvas-horizontal-width: 250px;

$pagination-focus-box-shadow: none;

$primary: #006cb5;

/**********************************************/

// Custom

$primary-active: #0d6efd;

// Border

$border-color: #dee2e6;
$border-radius: 0;
$border-radius-sm: $border-radius;

// Button

$btn-link-hover-color: white;
$btn-border-radius-lg: $border-radius;

$primary-bg: $border-color;
$primary-border: $primary-bg;
$primary-disabled-bg: $primary-bg;
$primary-disabled-border: $primary-bg;

$primary-hover-bg: white;
$primary-hover-border: $primary-active;
$primary-active-bg: $primary-hover-bg;
$primary-active-border: $primary-active;

// Card

$card-icon-dropdown-bg: #ebf1f7;

// Dropdown

$dropdown-select-page-min-width: 60px;
$dropdown-menu-max-height: 140px;
